$black: #333333;
$orange: #ff9900;
$blue: #177E89;
$red: #DB3A34;
$gray: #efefef;
$white: #ffffff;
$purple: #333366;

* {
	margin: 0;
	padding: 0;
	color: $black;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
html, body, main {
	width: 100%;
	background: $white;
	overflow-x: hidden;
}
header {
	top: 0;
	left: 0;
	width: 100%;
	height: 5vh;
	position: fixed;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);
	background: transparentize($white, 0.3);
}
header a {
	text-decoration: none;
}
footer {
	padding: 1rem;
	text-align: center;
}
section {
	padding: 10vh 10vw;
}
section:first-of-type {
	width: 100vw;
	box-sizing: border-box;

	min-height: 100vh;
	padding: 5vh 0 0 0;

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-image: url('/assets/img/taxi-dark.jpg');
}
h1 {
	font-size: 3rem;
	font-weight: 100;
}
h2 {
	font-size: 2rem;
	font-weight: 100;
	margin: 2rem auto;
}
h3 {
	font-size: 1.5rem;
	font-weight: 100;
}
p {
	padding: 0.5rem;
}
a {
	color: $orange;
}
hr {
	width: 60%;
	margin: 0 auto 2rem auto;
	border: solid 1px $orange;
}
form input {
	margin: 0.5rem;
	padding: 0.5rem;
	background: none;
	box-shadow: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid $gray;
}
form input:active, form input:focus {
	outline: none;
	background: $gray;
}

// global
.button {
	border: none;
	cursor: pointer;
	padding: 0.5rem 1rem;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}
.box {
	display: flex;

	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.cs {
	flex-grow: 100;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-ms-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;

	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.cm {
	flex-grow: 100;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;

	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.ce {
	flex-grow: 100;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-ms-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.vh-60 {
	height: 60vh;
}
.vh-15 {
	height: 15vh;
}

// colors
.b-blue {
	background: $blue;
}
.b-red {
	background: $red;
}
.b-purple {
	background: $purple;
}
.b-gray {
	background: $gray;
}
.b-black {
	background: $black;
}
.b-white {
	background: $white;
}
.b-orange {
	background: $orange;
}
.b-orange, .b-orange h1, .b-orange h2, .b-orange h3, .b-orange p {
	color: $white;
}
.b-purple, .b-purple h1, .b-purple h2, .b-purple h3, .b-purple p {
	color: $white;
}
.b-black, .b-black h1, .b-black h2, .b-black h3, .b-black p {
	color: $white;
}
.b-white, .b-white h1, .b-white h2, .b-white h3, .b-white p {
	color: $black;
}

// home
.title h1 {
	font-size: 10vw;
	text-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
}
.title strong {
	color: $orange;
	font-size: 10vw;
}
.sub-title h1 {
	font-size: 4vw;
	text-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
}

// checker
.checker-board {
	width: 100vw;
	display: block;
	font-size: 0;
}
.checker-tile {
	width: 5vw;
	height: 5vw;
	font-size: 0;
	border-radius: 1px;
	display: inline-block;
	box-sizing: border-box;
}
.checker-board.odd.black > div:nth-child(odd) {
	background: transparentize($black, 0.3);
	box-shadow: 0 0 9px rgba(0,0,0,0.3);
}
.checker-board.odd.black > div:nth-child(even) {
	background: transparentize($white, 0.3);
}
.checker-board.even.black > div:nth-child(even) {
	background: transparentize($black, 0.3);
	box-shadow: 0 0 9px rgba(0,0,0,0.3);
}
.checker-board.even.black > div:nth-child(odd) {
	background: transparentize($white, 0.3);
}
.checker-board.odd.orange > div:nth-child(odd) {
	background: transparentize($orange, 0.3);
	box-shadow: 0 0 9px rgba(0,0,0,0.3);
}
.checker-board.odd.orange > div:nth-child(even) {
	background: transparentize($white, 0.3);
}
.checker-board.even.orange > div:nth-child(even) {
	background: transparentize($orange, 0.3);
	box-shadow: 0 0 9px rgba(0,0,0,0.3);
}
.checker-board.even.orange > div:nth-child(odd) {
	background: transparentize($white, 0.3);
}

// tiles
.tiles {
	width: 90%;
	margin: auto;
	max-height: 90%;
	text-align: center;
	vertical-align: middle;
}
.tiles * {
	transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.tile {
	margin: 1rem;
	padding: 1rem;
	width: 270px;
	height: 200px;
	cursor: pointer;
	background: $gray;
	border-radius: 1px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.tile h3, .tile p {
	color: $black;
}
.tile:hover {
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
}
.tile img {
	max-height: 100px;
	max-width: 100px;
}

// nav
.nav-bar a {
	color: $black;
	padding: 16px 32px !important;
}
.nav-list-main {
	text-align: right !important;
}

// mobile
@media screen and (max-width: 1034px) {
	.nav-tool {
		height: 52px !important;
	}
	.nav-icon-menu-wrap {
		width: 45px !important;
		height: 45px !important;
	}
	.nav-list-main {
		box-shadow: 0 3px 6px rgba(0,0,0,0.3);
		background: transparentize($white, 0.3);

		width: 100vw !important;
		text-align: center !important;
	}
}
