* {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

html, body, main {
    width: 100%;
    background: #ffffff;
    overflow-x: hidden;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    z-index: 1 !important;
    position: fixed;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

header a {
    text-decoration: none;
}

footer {
    padding: 1rem;
    text-align: center;
}

section {
    padding: 5vh 10vw;
    box-sizing: border-box;
}

section:first-of-type {
    padding: 52px 0 0 0;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin: 3rem auto 1.5rem auto;
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin: 2rem auto 1rem auto;
}

h3 {
    font-weight: 100;
    font-size: 1.5rem;
    max-width: 900px;
    margin: 1.5rem auto 0.75rem auto;
}

h4 {
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 900px;
    margin: 0.75rem auto 0.75rem auto;
}

form, p, ul {
    margin: auto;
    max-width: 900px;
}

p {
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 1.6rem;
    margin: 1rem auto;
}

a {
    color: #ff9900;
    font-size: 1rem;
    text-decoration: none;
}

ul {
    padding: 0.5rem;
    margin: 1rem auto;
    list-style-position: inside;
}

ul li {
    list-style-type: circle;
    line-height: 1.6rem;
}

hr {
    width: 90%;
    border: none;
    max-width: 1000px;
    margin: 1rem auto 2rem auto;
    border-bottom: solid 1px #ff9900;
}

form input, form textarea {
    margin: 0.5rem;
    padding: 0.5rem;
    background: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #efefef;
}

form input:active, form input:focus, form textarea:active, form textarea:focus {
    outline: none;
    background: #efefef;
}

.button {
    border: none;
    margin: 1rem auto;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 1rem;
}

.button.hallow {
    color: #ff9900;
    background: transparent;
    border: solid 1px #ff9900;
    text-transform: uppercase;
}

.button.hallow:hover {
    color: #ffffff;
    background: #ff9900;
}

.button.solid {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.button.solid:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.button.line {
    position: relative;
}

.button.line:after {
    width: 80%;
    height: 1px;
    content: '';
    background: #ff9900;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: auto;
    position: absolute;
    transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.button.line:hover:after {
    width: 50%;
}

.paralax {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
}

.box {
    display: flex;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.cs {
    flex-grow: 100;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.cm {
    flex-grow: 100;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.ce {
    flex-grow: 100;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.vh-60 {
    height: 60vh;
}

.vh-15 {
    height: 15vh;
}

.vh-vw-100 {
    width: 100vw;
    min-height: 100vh;
}

.black {
    background: #333333;
}

.black h1, .black h2, .black h3, .black p {
    color: #ffffff;
}

.gray {
    background: #efefef;
}

.gray h1, .gray h2, .gray h3, .gray p {
    color: #333333;
}

.white {
    background: #ffffff;
}

.white h1, .white h2, .white h3, .white p {
    color: #333333;
}

.orange {
    background: #ff9900;
}

.orange h1, .orange h2, .orange h3, .orange p {
    color: #ffffff;
}

.glass {
    background: rgba(255, 255, 255, 0.6);
}

.glass h1, .glass h2, .glass h3, .glass p {
    color: #333333;
}

.scroll {
    bottom: 0;
    width: 100%;
    height: 15vh;
    color: #ffffff;
    position: absolute;
    text-align: center;
}

.scroll .arrow {
    width: 2rem;
    height: 2em;
    margin: auto;
    position: relative;
    transform: rotate(135deg);
    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    -webkit-animation-name: down;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-direction: reverse;
    -webkit-animation-iteration-count: infinite;
    animation-name: down;
    animation-duration: 1.5s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@-webkit-keyframes down {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 0;
        top: 2rem;
    }
    100% {
        left: 0;
        top: 0;
    }
}

@keyframes down {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 0;
        top: 2rem;
    }
    100% {
        left: 0;
        top: 0;
    }
}

.title h1 {
    font-size: 9rem;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.title strong {
    color: #ff9900;
    font-size: 9rem;
}

.sub-title h1 {
    font-size: 5rem;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.checker-board {
    font-size: 0;
}

.checker-row {
    font-size: 0;
    display: block;
    perspective: 1000px;
}

.checker-tile {
    width: 5vw;
    height: 5vw;
    font-size: 0;
    border-radius: 1px;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.6s;
    position: relative;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.checker-tile:hover {
    transform: rotateY(180deg);
}

.checker-tile-front, .checker-tile-back {
    top: 0;
    left: 0;
    position: absolute;
    backface-visibility: hidden;
}

.checker-tile-front {
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
}

.checker-tile-back {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.checker-board.i-0 .checker-row.even .checker-tile.odd {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    background: rgba(51, 51, 51, 0.7);
}

.checker-board.i-0 .checker-row.odd .checker-tile.even {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    background: rgba(51, 51, 51, 0.7);
}

.checker-board.i-1 .checker-row.even .checker-tile.even {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    background: rgba(255, 153, 0, 0.7);
}

.checker-board.i-1 .checker-row.odd .checker-tile.odd {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    background: rgba(255, 153, 0, 0.7);
}

.tiles {
    margin: auto;
    max-width: 1050px;
    text-align: center;
    vertical-align: middle;
}

.tile {
    margin: 1rem;
    padding: 2rem;
    width: 250px;
    height: 200px;
    cursor: pointer;
    background: #efefef;
    border-radius: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.tile h3, .tile p {
    color: #333333;
}

.tile:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.tile img, .tile object {
    max-height: 100px;
    max-width: 150px;
}

.nav-bar a {
    color: #333333;
    padding: 16px 32px !important;
}

.nav-list-main {
    text-align: right !important;
    z-index: 1;
}

@media screen and (max-width: 1034px) {
    .nav-tool {
        height: 52px !important;
    }
    .nav-icon-menu-wrap {
        width: 45px !important;
        height: 45px !important;
    }
    .nav-list-main {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
        background: rgba(255, 255, 255, 0.7);
        width: 100vw !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 900px) {
    .title h1, .title strong {
        font-size: 6rem;
    }
    .sub-title h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .title h1, .title strong {
        font-size: 3rem;
    }
    .sub-title h1 {
        font-size: 1.5rem;
    }
    .tile {
        margin: 1rem;
        padding: 1rem;
        width: 190px;
        height: 200px;
    }
}
